extends layouts/main-layout.pug

block content
    main
        h1 Users
        p Active Users:
        div
            if userList.length > 0
                ul
                    li
                        strong Automalix (Admin)
                    each person in userList
                        li #{ person.username }
            else
                p No active users.