<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <h1>Users</h1>
        <p>
            <ul>
                <li><b>automalix (admin)</b></li>
                <li><b>rotomdex</b></li>
                <li><b>hexagon</b></li>
                <li><b>newuser274</b></li>
            </ul>
        </p>
        <p><a href="/">Click here for home</a></p>
    </main>
</body>
</html>